@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import 'jetbrains-mono/css/jetbrains-mono.css';

@theme {
  --font-display: 'Jacques Francois Shadow', cursive;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  font-family: 'JetBrains Mono', monospace;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

